<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pokedex_CRUD</title>
    <link rel="stylesheet" href="~/Pokedex_CRUD.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/Pokedex.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/card.css" asp-append-version="true" />

</head>
<body>
    
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
         <a href="https://codepen.io/Bidji/pen/MYdPwo" target="_blank" class="credito">Creditos por la plantilla</a>
    </div>

    <footer>
       
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
